body {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(to right, 
        rgb(255, 105, 98),
        rgb(119, 221, 120),
        rgb(171, 236, 184),
        rgb(202, 185, 227),
        rgb(177, 156, 216),
    );
}

#taskContainer {
    display: flex;
    flex-direction: column;
}

.task-manager {
    display: flex;
}


.task-list-container, .completed-tasks-container {
    flex: 1;
    padding: 20px;
    background-color: rgb(202, 185, 227);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 70px; 
    min-width:300px;
    min-height:300px;
}

.completed-tasks-container {
    background-color: rgb(255, 105, 98);

}

.completed-tasks-container h2{
    color: rgb(202, 185, 227);
}

.task-list-container h2{
    color: rgb(255, 105, 98);
}

#taskList {
    list-style-type: none;
}

.task-list-container {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-item {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    text-decoration: none;
} 

.edit-button, .completed-button, .delete-button {
    padding: 10px 16px; 
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 18px; 
    background-color: white;
    color: #fff;
}

.edit-button i, .completed-button i, .delete-button i {
    font-size: 14px;
}

.edit-button:hover, .completed-button:hover, .delete-button:hover {
    background-color: rgb(202, 185, 227);
}

.completed{
    text-decoration: line-through;
    text-decoration-color: rgb(255, 105, 98);
}

h1{
    display: flex;
    justify-content: center;
}

#taskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#taskName,
#dueDate,
#priority {
    margin: 5px 0;
    padding: 8px;
    font-size: 16px;
    background-color: rgb(171, 236, 184);
    border-radius: 10px;
    width: 200px;
}
#taskName{
    margin-top: 30px;
}

#addButton {
    background-color: rgb(171, 236, 184); 
    color: white; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    margin-bottom: 30px;
}

#addButton:hover {
    background-color: rgb(119, 221, 120); 
}